{% extends '@wiseOwner/layout/owner_index_layout.html.twig' %}
{#{% extends 'wiseOwnerBundle:layout:customer_index_layout.html.twig' %}#}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Liste des locataires
                </header>
                <table class="table table-striped table-advance table-hover">
                    <thead>
                    <tr>
                        <th><i class="fa fa-bullhorn"></i> Photo</th>
                        <th class="hidden-phone"><i class="fa fa-question-circle"></i> Nom - Prénom</th>
                        <th><i class="fa fa-bookmark"></i> Pseudo</th>
                        <th><i class="fa fa-bookmark"></i> Adresse Email</th>
                        <th><i class=" fa fa-edit"></i> Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for locataire in locataires %}
                        <tr>
                            <td>
                                Voici la photo..
                            </td>
                            <td class="hidden-phone">{{ locataire.nom }}</td>
                            <td>{{ locataire.pseudo }}</td>
                            <td>{{ locataire.email }}</td>
                            {% if locataire.enabled %}
                                <td><span class="label label-success label-mini">En gestion</span></td>
                            {% else %}
                                <td><span class="label label-danger label-mini">Soldé</span></td>
                            {% endif %}
                            {#<td><span class="label label-warning label-mini">En préavis</span></td>#}
                            <td>
                                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}
