{% block footer %}
    <footer class="site-footer">
        <div class="text-center">
            2017 &copy; WiseInvestor by Laurent BRAU.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
{% endblock footer %}