{% extends '@wiseOwner/layout/owner_index_layout.html.twig' %}
{% block title %}Espace propriétaire {% endblock title %}
{% block body %}
    <section class="wrapper">
        {% set cols = "" %}
        {% if biens|length > 1 %}
            {%  set cols = "col-sm-12" %}
        {% endif %}
        {% for bien in biens %}
            {% include 'wiseOwnerBundle:templates:appart_grid_line.html.twig' with {'cols': cols} %}
        {% endfor %}
    </section>
    {% include "@wiseOwner/menu/right_side_menu.html.twig" %}
{% endblock body %}
