{% extends ":layout:main_user_layout.html.twig" %}
{% block main_body %}
    <section id="container">
        {#Voir pour inclure depuis l'index les fichiers de front offices ou de back office pour garder l'importation pour tous les tpl#}
        {% block header %}{% include 'wiseOwnerBundle:header:bo_header.html.twig' %}{% endblock header %}
        {% block menu %}{{ render(controller('wiseOwnerBundle:Proprietaire:generateLeftMenu')) }}{% endblock menu %}
        {#{% block menu %}{% include 'wiseOwnerBundle:menu:main_menu.html.twig' %}{% endblock menu %}#}
        <section id="main-content">
            <section class="wrapper site-min-height">
                {% block body %}
                {% endblock body %}
            </section>
        </section>
        {#{% include "wiseOwnerBundle:footer:user_footer.html.twig" %}#}
    </section>
{% endblock main_body %}